<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Projeto documentação-front-angular</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [opened]="true" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="home">Home</a>
        <a mat-list-item routerLink="formulario">Formulário</a>
        <a mat-list-item routerLink="excel">Excel</a>
        <a mat-list-item routerLink="portfolio-investimentos/dashboard">Portfolio investimentos</a>
        <a mat-list-item routerLink="dashboard-coincap">Dashboard Coincap</a>
        <a mat-list-item routerLink="testes-ngrx">Testes NGRX</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- <app-header titulo="Projeto documentação-front-angular"></app-header> -->
      <router-outlet></router-outlet>
      <!-- <app-footer></app-footer> -->
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>